<ion-header>
  <ion-toolbar>
    <ion-title>Create Lend</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-icon name="hand-holding-usd-solid" style="font-size: 7em; margin: 0 auto; padding-bottom: 0.25em;"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Lender Address</ion-label>
      <ion-input [(ngModel)]="contract.broker" type="text" placeholder="Loaner Address" text-right readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Loaner Address</ion-label>
      <ion-button (click)="scanLoanerAddress()"><ion-icon name="qr-scanner"></ion-icon></ion-button>
      <ion-input [(ngModel)]="contract.loaner" type="text" text-right></ion-input>    <!-- placeholder="Loaner Address" -->
    </ion-item>
    <ion-item>
      <ion-label>Box Address</ion-label>
      <ion-button (click)="scanBoxAddress()"><ion-icon name="qr-scanner" text-right></ion-icon></ion-button>
      <ion-input [(ngModel)]="contract.vaultAddress" type="text" text-right></ion-input>   <!-- placeholder="Loaner Address" -->
    </ion-item>
    <ion-item>
      <ion-label>Loan Amount</ion-label>
      <ion-input [(ngModel)]="contract.amountToLoan" type="number" min="0" step="0.0000000000000000001" text-right></ion-input>   <!-- placeholder="1.5" -->
    </ion-item>
    <ion-item>
      <ion-label>Payback Amount</ion-label>
      <ion-input [(ngModel)]="contract.paybackAmount" type="number" min="0" step="0.0000000000000000001" text-right></ion-input>    <!-- placeholder="1.8" -->
    </ion-item>
    <ion-item>
      <ion-label text-left>Contract End Date</ion-label>
      <ion-datetime required [(ngModel)]="contract.deadlineDate" placeholder="Full Payback Date" display-format="DD/MM/YYYY" [min]="current_year" max="2100" text-right></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label text-left>Contract End Time</ion-label>
      <ion-datetime required [(ngModel)]="contract.deadlineTime" placeholder="Full Payback Time" display-format="HH:mm" text-right></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
        <ion-button center expand="full" shape="round" (click)="createContract()">Create</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
